<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/alphabet.css" type="text/css"/>
</head>

<body>

    <div class="container">

    <form class="navbar-form pull-right navbar-fixed-bottom" method="post" action="/<%= @user.id %>">
        <input type="text" class="span3" name="email">
        <button type="submit" class="btn">Send Page</button>
    </form>

        <div class="row-fluid">

            <div class="span8 offset2 words">
                <h1> <%= @user.recipient.capitalize %>, if I could rewrite the alphabet I'd put U and I together</h1>
                <p><em>from <%= @user.name.capitalize %><em></p>
            </div>
        </div>


    </div>

</body>

</html>
