<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>

<body>

    <div class="container">

    <form class="navbar-form pull-right navbar-fixed-bottom" method="post" action="/<%= @user.id %>">
        <button type="submit" class="btn">Send page to</button>
        <input type="text" class="span3" name="email" placeholder="lucky@recipient.com">
    </form>

        <div class="row-fluid">

            <div>
                <h1>How about a date?</h1>
                <p>from <%= @user.name.capitalize %></p>
            </div>
        </div>


    </div>

</body>

</html>
