Hello <%= @user.recipient.capitalize %>,

<%= @user.name.capitalize %> has made a page for you:
<%= @link %>


To make your own  please click <a href="http://stormy-crag-1959.herokuapp.com/">here</a>.

All the best,

The CUAAS Team