<!DOCTYPE html>
<html>
<head>
    <title>Chat Ups As A Service | Home</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
</head>
<body>

<div class="container">

    <div class="hero-unit">
        <h1 class="text-center">So you want to chat someone up but you don't know what to say...<h1>
        <h2 style="color: red">Don't panic!</h2>
        <p> We've got it covered, choose one of our tried and tested chat up lines, put who its from and who its to and hit submit. Guaranteed results.<br> <small> Please note that results are not guaranteed. See table below for more information.</p>
    </div>


    <form method="post" action="/" class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="inputFrom">Your first name</label>
                <div class="controls">
                    <input type="text" name="from" id="inputFrom">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputTo">The recipient's first name</label>
                <div class="controls">
                    <input type="text" name="to" id="inputTo">
                </div>
            </div>


            <div class="control-group">
                <label>Chat up line</label>
                <div class="controls">
                    <select name="chat" id="inputChat">
                        <option>Drink?</option>
                        <option>Parking Ticket</option>
                        <option>Me Without You</option>
                        <option>Alphabet</option>
                        <option>Lost Number</option>
                        <option>Be Unique</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputPhone">Your phone number</label>
                <div class="controls">
                    <input type="text" name="to" id="inputPhone">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success btn-large">Submit</button>
                </div>
            </div>

    </form>

    <table class="table table-bordered">
        <tr>
            <th>Chat up</th>
            <th>Info required</th>
        </tr>
        <tr>
            <td>Drink?</td>
            <td>None</td>
        </tr>
        <tr>
            <td>Parking Ticket<br>Me Without You<br>Alphabet</td>
            <td>Your first name<br> Recipient's first name</td>
        </tr>
        <tr>
            <td>Lost Number</td>
            <td>Recipient's first name<br>Your phone number</td>
        </tr>
        <tr>
            <td>Be Unique</td>
            <td>Recipient's first name</td>
        </tr>
    </table>

    <blockquote class="pull-right"><p>Please use this service responsibly</p></blockquote>

</div>

</body>

