<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/drink.css" type="text/css"/>
</head>

<body>

    <form class="navbar-form pull-right navbar-fixed-bottom" method="post" action="/<%= @user.id %>">
        <button type="submit" class="btn">Send page to</button>
        <input type="text" class="span3" name="email" placeholder="lucky@recipient.com">
    </form>

    <div class="container">

        <div class="row-fluid">
            <div class="span10 offset1">
                <h1 class="text-center">Want to go for a drink?</h1>
                <p class="text-right" style="color:#FAFAFA"><em>from <%= @user.name.capitalize %></em></p>
            </div>
        </div>

    </div>
    
</body>

</html>