<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="nerd.css" type="text/css"/>
</head>

<body>

    <div class="container">

        <div class="hero-unit">

            <h1>Me without you, <%= @to.capitalize %>, is like a nerd without braces, a shoe without laces, asentencewithoutspaces.</h1>
            <p><em>from <%= @from.capitalize %></em></p>
            
        </div>

    </div>

</body>


</html>