<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css"/>
</head>

<body>

    <div class="container">

        <div class="hero=unit">

            <h1>Me without you, <%= @to.capitalize %>, is like a nerd without braces, a shoe without laces, asentencewithoutspaces.</h1>
            <p><em>from <%= @from.capitalize %></em></p>
            s
        </div>

    </div>

</body>


</html>