<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css"/>
</head>

<body>

    <div class="container">

        <div class="hero-unit">
            <h1> Hey, <%= @to.capitalize %>. I've lost my number, could I borrow yours?</h1>
            <p><em>for more information or a date please call <%= @number %><em></p>
        </div>

    </div>

</body>

</html>