<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/phone.css" type="text/css"/>
</head>

<body>

    <div class="container">

    <form class="navbar-form pull-right navbar-fixed-bottom" method="post" action="/<%= @user.id %>">
        <button type="submit" class="btn">Send page to</button>
        <input type="text" class="span3" name="email" placeholder="lucky@recipient.com">
    </form>

        <div class="row-fluid">
            <div class="words span 6 offset1">
                <h1> Hey, <%= @user.recipient.capitalize %>. I've lost my number, could I borrow yours?</h1>
                <p><em>for more information or a date please call <%= @user.number %><em></p>
            </div>
        </div>

        <div class="spacer">
        </div>

        <div class="span2 offset11">
            <img src="/phone2.jpg">
        </div>
        

    </div>

</body>

</html>