<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
</head>

<body>

    <div class="container">

        <div class="hero-unit">
            <h1>Thank You <%= @user.name.capitalize %></h1>
            <p>Your page has been sent to <%= @user.recipient.capitalize %> at <%= @user.recipient_email %>.</p>
        </div>


    </div>

</body>

</html>