<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css"/>
</head>

<body>
    <div class="container">

        <div class="hero-unit">

            <h1>Are you a parking ticket, <%= @to.capitalize %>? Because you've got <strong>FINE</strong> written all over you.</h1>
            <p><em>from <%= @from.capitalize %></em></p>

        </div>

    </div>
</body>

</html>