<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/ticket.css" type="text/css"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>

<body>
    <div class="container">

    <form class="navbar-form pull-right navbar-fixed-bottom" method="post" action="/<%= @user.id %>">
        <button type="submit" class="btn">Send page to</button>
        <input type="text" class="span3" name="email" placeholder="lucky@recipient.com">
    </form>

        <div class="hero-unit">

            <h1>Are you a parking ticket, <%= @user.recipient.capitalize %>? Because you've got <span class="fine">FINE</span> written all over you.</h1>
            <p><em>from <%= @user.name.capitalize %></em></p>

        </div>

    </div>
</body>

</html>