<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="unique.css" type="text/css"/>
</head>

<body>

    <div class="container">

        <div class="hero-unit">

            <h1>Be unique, <%= @to.capitalize %>. Say yes</h1>

        </div>

    </div>

</body>

</html>