<!DOCTYPE html>
<html>

<head>
    <title>Chat Ups As A Service</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/unique.css" type="text/css"/>
</head>

<body>

    <div class="container">

        <div class="row-fluid">
            <div class="span6 offset3">
                <h1 class="text-center words">Be unique, <%= @to.capitalize %>. Say yes.</h1>
            </div>
        </div>


    </div>

</body>

</html>