body{
    background: url(alphabet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.words{
    height: 100px;
    background: black;
    color: #FAFAFA;
}

.row-fluid{
    padding-top: 20%
}