body{
    background: url(shoe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.words{
    background: black;
    opacity: .8;
    color:#FAFAFA;
}

.row-fluid{
    padding-top: 20%
}